<section class="mitsuri">
  <h1>Mitsuri</h1>
  <p>
    É uma Caçadora de Demônios sendo a atual Pilar do Amor. Mitsuri é uma jovem
    curvilínea, de pele clara e olhos verdes redondos e claros, com cílios
    notavelmente longos, uma pequena toupeira embaixo de cada um deles.
  </p>
  <div class="opacity"></div>
  <div class="mitsuri__left">
    <img src="../../../assets/characters/mitsuri/bg-left-mitsuri.png" alt="" />
  </div>
</section>
<div class="mitsuri__hero">
  <img src="../../../assets/characters/mitsuri/mitsuri-image.png" alt="" />
</div>
<div class="mitsuri__right">
  <img src="../../../assets/characters/mitsuri/bg-right-mitsuri.png" alt="" />
</div>
