.card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 1rem;
  color: #fff;
  width: 700px;
  height: 279px;

  &__item {
    cursor: pointer;
    transition: transform 0.3s, border 0.3s;
    border: 2px solid transparent;
    border-radius: 4px;
    height: 100px;
    width: 100px;

    &.active {
      outline: #fff solid 2px;
      outline-offset: 10px;
      animation: active 1s;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }
}

@-webkit-keyframes active {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(90px);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
}

@keyframes active {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(90px);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
}
