<section class="tokito">
  <h1>Tokito</h1>
  <p>
    É um personagem coadjuvante de Demon Slayer: Kimetsu no Yaiba, sendo um
    exterminador de demônios e o atual Hashira da Névoa. Ele e seu irmão mais
    velho Yuichiro são descendentes do Lua Superior 1.
  </p>
  <div class="opacity"></div>
  <div class="tokito__left">
    <img src="/demon-slayer/assets/characters/tokito/bg-tokito.png" />
  </div>
</section>
<div class="tokito__hero">
  <img src="/demon-slayer/assets/characters/tokito/tokito-image.png" />
</div>
