<section class="rengoku">
  <h1>Rengoku</h1>
  <p>
    É um Caçador de Demônios e o atual Pilar de Chamas dos Caçadores de
    Demônios. Kyojuro é um jovem adulto de alta estatura, com cabelos amarelos
    brilhantes com mechas vermelhas, sobrancelhas pretas bifurcadas e olhos
    dourados.
  </p>
  <div class="opacity"></div>
  <div class="rengoku__left">
    <img src="assets/characters/rengoku/bg-left-rengoku.png" alt="" />
  </div>
</section>
<div class="rengoku__hero">
  <img src="assets/characters/rengoku/rengoku-image.svg" alt="" />
</div>
<div class="rengoku__right">
  <img src="assets/characters/rengoku/bg-right-rengoku.png" alt="" />
</div>
